<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'template/header.html.twig' %}
    <title>Images Details</title>
</head>
<body>
    {% include 'template/navigation.html.twig' %}
    <div class="container">
        <a href="?action=fileUpload"><button class="btn btn-success">Add Image</button></a>
        <h1>All Images</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Image</th>
                    <th scope='col'>Date</th>
                    <th scope='col'>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <th scope="row">{{ image.i_id }}</th>
                        <td>    
                            <div id="display-image">
                                <img src="./uploads/{{ image.i_filename }}">
                            </div>
                        </td>
                        <td>{{ image.i_uploaded }}</td>
                        <td>{{ image.i_type }}</td>
                        <td>
                            <form action="?action=deleteImage" method="POST">
                                <button type="submit" name="delete_image" value="{{ image.i_id }}" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <a href="?action=editImage&id={{ image.i_id }}"><button class="btn btn-info">Edit</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</body>
{% include 'template/footer.html.twig' %}
</html>