<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'template'  ~ constant('DIRECTORY_SEPARATOR') ~ 'header.html.twig' %}
    <title>Edit Blog Details</title>
</head>
<body>
    {% include 'template'  ~ constant('DIRECTORY_SEPARATOR') ~ 'navigation.html.twig' %}
    <div class="container">
        <div class="alert alert-primary" role="alert" id="msg" {{ message is not empty ? '' : 'style="display:none"' }}> 
            {{ message }}
        </div>
        {% if success %}
            <div class="alert alert-success">Image type was successfully updated!</div>
        {% endif %}
        <form class="row g-3" action="?action=editImage&id={{ image.i_id }}" method="POST" enctype="multipart/form-data" id="form_file_data">
            <input type="hidden" name="i_id" value="{{ image.i_id }}">
            <div class="col-12">
                <div class="card mt-2 mb-3">
                    <div class="card-header">
                        Edit Image
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div id="display-image">
                                <img src="{{ './uploads/' ~ image.i_filename }}">
                            </div>
                            <label for="uploadFile">Select type</label>
                            <select name="type">
                                {% for type in types %}
                                    <option value="{{ type }}" {% if type == image.i_type %}selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Edit Image" name="submit" class="btn btn-success submit float right" id="submit">     
            </div>
        </form>
    </div>
</body>
{% include 'template'  ~ constant('DIRECTORY_SEPARATOR') ~ 'footer.html.twig' %}
</html>

